<!-- views/partials/footer.ejs -->
</div>
</main>
<footer class="flex vertical justify-center">
  <div class="flex justify-center align-center width-100" aria-label="Footer">
    <div>
      <p class="m-0"> ©
        <% var today=new Date(); %>
        <%= today.getFullYear(); %>
        James Peck.
        Made with ❤️ in Leeds, UK.
      </p>
    </div>
  </div>
</footer>

</body>

</html>