<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Bookworm Reviews
  </title>
  <!-- Main CSS -->
  <link rel="stylesheet" href="/styles/main.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <!-- Favicons -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">

</head>

<body>

  <header class="flex align-center">
    <div class="flex justify-between align-center width-100">
      <div class="header-left button">
        <a href="/"><i class="bi bi-house header-not-logged-in "></i></a>
      </div>
      <div id="banner" class="flex justify-center align-center">
        <div>
          <a class="no-underline" href="/">
            <img id="site-logo" class="m-0" src="/assets/images/logos/BookwormReviewsLogo.jpg" alt="Bookwork Reviews Logo">
          </a>
        </div>
        <div>
          <a class="no-underline" href="/">
            <h1 class="m-0">OOKWORM REVIEWS</h1>
          </a>
        </div>
      </div>
      <div class="header-right flex vertical align-center button">
        <div>
          <% if (locals.user) { %>
          <% if (locals.user.image) { %>
          <img src="<%= locals.user.image %>" alt="User profile picture">
          <% } else { %>
          <i class="bi bi-person-bounding-box header-logged-in"></i>
          <% } %>
          <% } else { %>
          <a href="/login-signup" class="m-0"><i class="bi bi-person-circle header-not-logged-in"></i></a>
          <p class="m-0"><a href="/login-signup" class="m-0">Login / Sign-up</a></p>
          <% } %>
        </div>
      </div>
    </div>

  </header>
  <main class="container px-0">
    <div class="content-container">