<!-- views/index.ejs -->
<%- include("partials/header.ejs") %>



<div class="flex justify-center content-background width-100">
  <div class="welcome">
    <div>
      <h2>Welcome!</h2>
    </div>


    <div>
      <p>Do you love books and wish there was a way to write your own <span class="bold highlight">reviews</span>, keep <span class="bold highlight">notes</span> about books you've read and see what others thought?</br>
      <p>Want a place to <span class="bold highlight">inspire your next read</span>?</p>
      <p>Well you've found the right place.</p>
      <p><a class="bold" href="/signup"><i>Sign up</i></a></em> and get started or <a class="bold" href="/login"><i>login</i></a></p>
      <p>Alternatively feel free to <a class="bold" href="/browse"><i> browse</i></a> books and reviews anonymously</p>
    </div>
  </div>
</div>



<!-- Footer -->
<%- include("partials/footer.ejs") %>